.div-content {
    margin-left: auto;
    margin-right: auto; 
    max-width: 50%;
    position: relative; 
}

.slider-button {
    border: none;
    display: inline-block;
    padding: 8px 8px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: white;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
}

.slider-button:hover {
    color: rgb(176, 255, 169);
}

.display-left {
    left: 0%;
}

.display-right {
    right: 0%;
}
body {
    background-color: black; 
    color: white; 
}

ul {
   list-style-type: none; 
    margin: 0;
    padding: 0;
    background-color: rgb(204, 204, 255); 
}

li a {
    display: block; 
    color: black;
    padding: 8px 16px; 
    text-decoration: none; 
}

li a:hover {
    background-color: white;
    color: rgb(204, 204, 255); 
}

.icon-bar {
  width: 90px; /* Set a specific width */
  background-color: rgb(204, 204, 255); /* Dark-grey background */
}

.icon-bar a {
  display: block; /* Make the links appear below each other instead of side-by-side */
  text-align: center; /* Center-align text */
  padding: 16px; /* Add some padding */
  transition: all 0.3s ease; /* Add transition for hover effects */
  color: white; /* White text color */
  font-size: 36px; /* Increased font-size */
}

.icon-bar a:hover {
  background-color: white; /* Add a hover color */
}

.active {
  background-color: rgb(204, 204, 255); /* Add an active/current color */
}
